
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../homepage/homepage.component.css" />
    <title>VoizFonica</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand ">
          <img src="assets/images/logo2.png " width="200px" height="70px" >
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="Homepage.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="AboutUs.html" class="nav-link">About US</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Prepaid</a></li>
                  <li><a class="dropdown-item" href="#">Postpaid</a></li>
                  <li><a class="dropdown-item" href="#">Dongle</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="CreateAnAccount.html" class="nav-link">Create An Account</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="CustomerLogin.html">Customer Login</a></li>
                  <li><a class="dropdown-item" href="CorporateLogin.html">Corporate Login</a></li>
                </ul>
            <li class="nav-item">
                  <a href="contactUs.html" class="nav-link">Contact Us</a>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- The offer page -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>The Best<span class="text-warning"> You can get!! </span></h1>
            <p class="lead my-4">
                Today's special offer will get you buy 1 Voiz sim and get 1 for free.
                Don't forget to buy our dongle services which are providing Best
                internet services.Click below to avail the offer
              </p>
            <button
              class="btn btn-primary btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
             Click to avail
            </button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="../images/men talking on phone.jpg"
            alt=""
          />
        </div>
      </div>
    </section>

    <!-- Newsletter signup -->
    <section class="bg-primary text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>

          <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter Email" />
            <button class="btn btn-dark btn-lg" type="button">Submit</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Boxes -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-info text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-phone"></i>
                </div>
                <h3 class="card-title mb-3">Prepaid</h3>
                <p class="card-text">
                  Have Voiz Prepaid features which gurantees best internet and phone 
                  services to our customer.Click on read more to know more about the offer.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <!---------------------------------------------->
          <div class="col-md">
            <div class="card bg-secondary text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-sim"></i>
                </div>
                <h3 class="card-title mb-3">Postpaid</h3>
                <p class="card-text">
                  Have Voiz Postpaid features which provides great offers to our 
                  postpaid customers.Just select the offer and pay later.
                </p>
                <a href="#" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <!---------------------------------------------->
          <div class="col-md">
            <div class="card bg-primary text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-telephone"></i>
                </div>
                <h3 class="card-title mb-3">Dongle</h3>
                <p class="card-text">
                  Introducing Voiz Dongle which provides seamless internet
                  experience anywhere you want.Click read more to know more about the offer.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Learn Sections -->
    <section class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="../images/Easy_portability.jpg" class="img-fluid" alt="Ease of portability" />
          </div>
          <div class="col-md p-5">
            <h2>Easy portability of your number!!</h2>
            <p class="lead">
              We provide ease of portability of customer's sim cards from third party 
              telecom providers as well.

            </p>
            <p>
              The process has become easy by e-verification process of your identity seamlessly
              from your home.
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
        </div>
      </div>
    </section>
<!------------------------------------------------------------------>
    <section  class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Guranteed protection against Scammers</h2>
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Similique deleniti possimus magnam corporis ratione facere!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
          <div class="col-md">
            <img src="../images/Protection.png" class="img-fluid" alt="Phone with protection" />
          </div>
        </div>
      </div>
      <!----------------------------------->
      <section class="p-5 bg-info">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="../images/OFFER PAGE.jpeg" class="img-fluid" alt="Ease of portability" />
            </div>
            <div class="col-md p-5">
              <h2>Best offers for our customers</h2>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Similique deleniti possimus magnam corporis ratione facere!
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                reiciendis eius autem eveniet mollitia, at asperiores suscipit
                quae similique laboriosam iste minus placeat odit velit quos,
                nulla architecto amet voluptates?
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Read More
              </a>
            </div>
          </div>
        </div>
      </section>
    <!-- Contact & Map -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Phone Number:</span> 080-2343-398
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email Address:</span>Voiz.getus@voizfonica.com
              </li>
            </ul>
          </div>
          <div class="col-md">
            <div class="container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15545.26373611041!2d77.55411034808347!3d13.079152627403793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae192ca2bc172f%3A0x6e74ca9c287b3d6a!2sSumadhura%20Sushantham!5e0!3m2!1sen!2sin!4v1657103046933!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-success text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2010 VoizFonica</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <!------SCRIPTS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous">
    </script>
    

